.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*
.cursor/
src/test/**
.git/**
.gitattributes
package-lock.json
docs-for-testing/**
.vscode-test.mjs
scripts/**
**/*.ts
**/*.js.map
**/.DS_Store
**/Thumbs.db
**/*.log
*.vsix
*.zip
dist/**
docs-for-testing/old_extension.ts